* {
    text-align: center;
}

body {
    background-color: #EAEFEE;
    margin-top:-10px;
}

header {
    background-color: #ffff;
    margin:0px;
}

nav {
    height: 50px;
    margin: 5px;
}

nav li {
    display: inline-block;
    float: right;
    list-style: none;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #8CBAC7;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 1px gray;
}

nav li:first-child {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #6D59A0;
}

section {
    height: 740px;    
    background-color: #ffff;

}

section h1{
    margin:10px;
}


section li {
    display: inline-block;
    list-style: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #8CBAC7;
    margin: 5px;
    box-shadow: 1px 1px 5px 1px gray;
}

section a {
    text-decoration: none;
    font-size: 18px;
    color: #ffff;
}

section span {
    display: inline-block;
    width: 650px;
    height: 500px;
    background-image: url(./map.JPG);
}

footer {
    display: table;
    margin-top:15px;
    margin-right: auto;
    margin-left: auto;
    height: 72px;
    background-color: #ffff;
}

footer > div {
    display: table-cell;
    width:1632px;
    height: 72px;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    color: #B1B7BD;
    font-weight: bold;
}
